.site-header {
    background-color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    transition: .5s;

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-wrapper {
            max-width: 14.6rem;
            flex: 0 0 14.6rem;
            padding-right: 1rem;

            @include bp("xs-max") {
                max-width: 11.6rem;
                flex: 0 0 11.6rem;
            }

            a {
                display: block;
                z-index: 999;
                position: relative;

                img {
                    width: 8.6rem;
                }
            }
        }

        .navigation-wrapper {
            flex: 1;

            @include bp("tablet-max") {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $white;
                z-index: -1;
                opacity: 0;
                transition: .3s;
                transform: translateX(101%);
            }

            .open-menu & {
                transform: translateX(0);
                z-index: 8;
                opacity: 1;
            }

            ul {
                display: flex;
                justify-content: center;

                @include bp(tablet-max) {
                    display: block;
                    margin: 11rem 0 0;
                    padding: 0 2.5rem 2.5rem;
                    height: calc(100vh - 100px);
                    overflow-y: auto;
                }

                li {
                    a {
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-transform: uppercase;

                        &:hover {
                            color: $green;
                        }

                        @include bp(tablet-max) {
                            font-size: 1.6rem;
                        }

                    }

                    +li {
                        margin-left: 3rem;

                        @include bp(tablet-max) {
                            margin-left: 0;
                            margin-top: 1.5rem;
                        }
                    }
                }
            }

        }

        .contact-wrapper {
            max-width: 14.6rem;
            flex: 0 0 14.6rem;
            padding-left: 1rem;

            img {
                display: none;

                @include bp("tablet-max") {
                    display: inline-block;
                    height: 18px;
                }
            }

            .border-btn {
                font-size: 1.4rem;
                height: 4rem;
                line-height: 4rem;
                padding: 0 2rem;
                @include bp("tablet-max") {
                    font-size: 0;
                    border: none;
                    padding: 0;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }

    }

    .hamburger-icon {
        width: 2rem;
        height: 1.7rem;
        cursor: pointer;
        z-index: 999;
        position: relative;
        margin-left: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;

        @include bp(tablet-max) {
            display: flex;
        }

        >span {
            transition: all .3s;
            display: block;
            border: .16rem solid $primaryColor;
            width: 100%;
            background: $primaryColor;
            opacity: 1;
            left: .1rem;
            border-radius: .5rem;
            position: relative;

            &:nth-child(1) {
                .open-menu & {
                    transform: rotate(45deg);
                    top: 0.65rem;
                }
            }

            &:nth-child(2) {
                .open-menu & {
                    opacity: 0;
                }
            }

            &:nth-child(3) {
                .open-menu & {
                    transform: rotate(-45deg);
                    top: -0.7rem;
                }
            }

        }

    }
}

.site-footer {
    margin-top: 5.2rem;
    // background-color: $primaryColor;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: #006098;
    }
    .bg-img {
        opacity: 0.3;
    }

    .container {
        z-index: 3;
        position: relative;
        max-width: 134rem;
    }

    .footer-bottom {
        padding: 0 5rem 3rem 5rem;
        margin-top: -1.6rem;

        @include bp(tablet-max) {
            padding: 0 0 3rem 0;
        }

        @include bp(xs-max) {
            flex-direction: column-reverse;
        }

        .left {
            color: $white;
            font-size: 1.3rem;
            font-weight: 500;

            @include bp(xs-max) {
                margin-top: 1rem;
            }
        }

        .right {
            li {
                img {
                    width: 3.8rem;
                    height: auto;
                    border: 0.1rem solid rgb(255 255 255 / 7%);
                    border-radius: 0.3rem;
                }

                +li {
                    margin-left: 1rem;
                }
            }
        }
    }

    .footer-top {
        padding: 4.2rem 5rem 5rem;
        border-top: 0.8rem solid $green;
        box-shadow: 0px -6px 34px rgba(0, 96, 152, 0.04);
        border-radius: 0 0 1.6rem 1.6rem;
        top: -5.2rem;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include bp("sm-max") {
            padding: 3rem 3rem 2.5rem;
        }

        .logo-wrapper {
            max-width: 21%;
            flex: 0 0 21%;
            display: flex;
            flex-direction: column;
            padding-right: 3rem;
            justify-content: space-between;

            @include bp("tablet-max") {
                max-width: 50%;
                flex: 0 0 50%;
                align-items: center;
                text-align: center;
                padding: 0 0 3rem 0;
            }

            @include bp("sm-max") {
                max-width: 100%;
                flex: 0 0 100%;
            }

            .logo-block {
                margin-bottom: 2rem;

                a {
                    display: block;

                    img {
                        width: 6.4rem;

                        @include bp("tablet-max") {
                            width: 10rem;
                        }
                    }
                }
            }

            .social-media-wrapper {
                .title {
                    font-weight: 600;
                    display: block;
                    margin-bottom: 1rem;
                }

                ul {
                    li {
                        a {
                            width: 2.9rem;
                            height: 2.9rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $primaryColor;
                            padding: 0.8rem;
                            border-radius: 50%;

                            &:hover {
                                background-color: $darkblue;
                            }
                        }

                        +li {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }

        .footer-contact-wrapper {
            max-width: 24%;
            flex: 0 0 24%;

            @include bp("tablet-max") {
                max-width: 50%;
                flex: 0 0 50%;
                order: 2;
                text-align: center;
            }

            @include bp("sm-max") {
                max-width: 100%;
                flex: 0 0 100%;
                order: 3;
            }

            .contact-title {
                font-size: 1.4rem;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 0.1rem solid $footergray;
                display: block;
            }

            a {
                display: block;
                font-size: 2rem;
                font-weight: 600;

                &:hover {
                    color: $green
                }

                +a {
                    margin-top: 1rem;

                    @include bp("sm-max") {
                        margin-top: 0;
                    }
                }

                @include bp("tablet-max") {
                    font-size: 1.8rem;
                }

                @include bp("sm-max") {
                    font-size: 1.6rem;
                }

            }

        }

        .links-wrapper {
            max-width: 55%;
            flex: 0 0 55%;

            @include bp("tablet-max") {
                max-width: 100%;
                flex: 0 0 100%;
                order: 3;
            }

            @include bp("sm-max") {
                order: 2;
                padding-bottom: 3rem;
            }

            .link-inner {
                display: flex;
                flex-wrap: wrap;
                padding-right: 2rem;

                @include bp("tablet-max") {
                    padding-right: 0;
                    text-align: center;
                }

                .links-inner-wrapper {
                    max-width: 33.33%;
                    flex: 0 0 33.33%;

                    @include bp("xs-max") {
                        max-width: 100%;
                        flex: 0 0 100%;
                    }

                    +.links-inner-wrapper {
                        @include bp("xs-max") {
                            margin-top: 2rem;
                        }
                    }

                    .footer-title {
                        font-weight: 600;
                        display: block;
                    }

                    ul {
                        li {
                            a {
                                font-size: 1.4rem;

                                &:hover {
                                    text-decoration: underline !important;
                                }
                            }

                            +li {
                                margin-top: .3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.title-block {
    text-align: center;
    margin-bottom: 4rem;

    .sub-title {
        font-family: "Montserrat", serif;
        font-weight: 600;
        display: block;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: 1rem;

        @include bp("xl-max") {
            font-size: 1.6rem;
        }
    }

    .has-green-bar {
        padding-bottom: 2.5rem;
        position: relative;

        &::after {
            background-color: $green;
            width: 22rem;
            height: 0.6rem;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            content: '';
            position: absolute;
            border-radius: 2rem;
            @include bp("sm-max") {
                width: 12rem;
            }
        }
    }
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    .form-group {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1.5rem;
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
        &.company-field {
            flex: 0 0 50%;
            max-width: 50%;
            @include bp("sm-max") {
                flex: 0 0 100%;
                max-width: 100%;
            }  
        }
        &.phone-field {
            flex: 0 0 50%;
            max-width: 50%;
            @include bp("sm-max") {
                flex: 0 0 100%;
                max-width: 100%;
            }  
        }
        label {
            display: block;
            margin-bottom: 0.5rem;
            line-height: normal;
        }
        input {
            height: 5rem;
            line-height: 5rem;
            border: 0.1rem solid $border3;
            padding: 0 2rem;
            border-radius: 4rem;
            width: 100%;
        }

        textarea {
            width: 100%;
            height: 12.6rem;
            line-height: 1.2;
            border: 0.1rem solid $border3;
            padding: 2rem;
            border-radius: 2rem;
            resize: none;
        }


    }

    input,
    textarea {
        font-family: "Hind Madurai", sans-serif;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $placeholder;
            font-size: 1.6rem;
            font-family: "Hind Madurai", sans-serif;
            opacity: 1;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $placeholder;
            font-size: 1.6rem;
            font-family: "Hind Madurai", sans-serif;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $placeholder;
            font-size: 1.6rem;
            font-family: "Hind Madurai", sans-serif;
            opacity: 1;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: $placeholder;
            font-size: 1.6rem;
            font-family: "Hind Madurai", sans-serif;
            opacity: 1;
        }
    }
}



.map-section {
    position: relative;
    padding-bottom: 26.1%;

    iframe {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        top: 0;
    }
}

.ReactModal__Overlay{
    z-index: 999;
    background-color:#21212166 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .quote-otp-modal{
        width: 54rem !important;
        margin: 0 auto;
        height: auto;
        min-height: auto;
        inset: auto !important;
        border: 1px solid $blue3 !important;
        max-width: calc(100vw - 5rem);
        border-radius: 3rem !important;
        padding: 4rem !important;
        text-align: left !important;
        background-color: $white;
        @include bp("sm-max") {
            padding: 2rem !important;

        }
        .form-wrapper {
            form {
                width: 100%;
            }
        }
        .title-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
            h2{
                font-size: 3rem;
                color: $secondaryColor;
                text-align: left;
                padding-right: 1rem;
                @include bp("xl-max") {
                    font-size: 2.6rem;
                }
                @include bp("sm-max") {
                    font-size: 2.2rem;
                }
            }
            .close-btn{
                background-color: transparent !important;
                border: none !important;
                img{
                    height: 2.5rem;
                    width: 2.5rem;  
                    @include bp("sm-max") {
                        height: 1.8rem;
                    }  
                }
            }
        }
        p{
            margin-bottom: 2rem;
        }
    }
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #006098;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &:hover {
        background-color: #015483;
    }
  }
  
  