.map-section {
    position: relative;
    padding-bottom: 26.1%;
    @include bp("sm-max") {
        padding-bottom: 50%;
    }
    iframe {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        top: 0;
    }
}

.contact-form-block {
    padding: 10rem 0;
    @include bp("xl-max") {
        padding: 8rem 0;
    }
    @include bp("sm-max") {
        padding: 6rem 0;
    }
    .contact-form-inner {
        display: flex;
        @include bp("sm-max") {
            flex-wrap: wrap;
        }
        .contact-form-left {
            flex: 0 0 56.84%;
            max-width: 56.84%;
            @include bp("smd-max") {
                flex: 0 0 calc(100% - 29rem);
                max-width: calc(100% - 29rem);
            }
            @include bp("sm-max") {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .contact-form-left-inner {
                    background-color: $lightblue;
                    padding: 4rem;
                    border-radius: 3rem;
                    @include bp("smd-max") {
                        padding: 2.5rem;
                    }
                    h2 {
                        text-align: left;
                        line-height: normal;
                        margin-bottom: 1.5rem;
                        font-size: 3rem;
                        color: $secondaryColor;
                    }
                .form-wrapper {
                    .form-group {
                        &.full-name-field {
                            flex: 0 0 50%;    
                            max-width: 50%;
                            @include bp("xs-max") {
                                flex: 0 0 100%;    
                                max-width: 100%;
                            }
                        }
                        &.email-field {
                            flex: 0 0 50%;    
                            max-width: 50%;
                            @include bp("xs-max") {
                                flex: 0 0 100%;    
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .contact-form-right {
            flex: 0 0 43.16%;
            max-width: 43.16%;
            padding-left: 8rem;
            @include bp("xl-max") {
                padding-left: 3rem;
            }
            @include bp("smd-max") {
                flex: 0 0 29rem;
                max-width: 29rem;
            }
            @include bp("sm-max") {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0;
                padding-top: 3rem;
            }
            .contact-info-block {
                li {
                    & + li {
                        margin-top: 4rem;
                    }
                    a {
                        display: flex;
                        .icon-wrapper {
                            height: 8rem;
                            width: 8rem;
                            max-width: 8rem;
                            flex: 0 0 8rem;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            background: #2D7AA7;
                            border-radius: 50%;
                            border: 1px solid #145073;
                            @include bp("xl-max") {
                                height: 7rem;
                                width: 7rem;
                                flex: 0 0 7rem;
                                max-width: 7rem;
                            }
                            @include bp("smd-max") {
                                height: 5rem;
                                width: 5rem;
                                flex: 0 0 5rem;
                                max-width: 5rem;
                                img {
                                    height: 2.5rem;
                                    width: 2.5rem;
                                    object-fit: contain;
                                }
                            }
                        }
                        .icon-text {
                            font-family: "Hind Madurai", sans-serif;
                            font-size: 2.4rem;
                            font-weight: 500;
                            padding-left: 2rem;
                            display: inline-block;
                            line-height: 1.5;
                            @include bp("xl-max") {
                                font-size: 2rem;
                            }
                            @include bp("smd-max") {
                                font-size: 1.6rem;
                                padding-left: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}