@import "./theme-main";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  :focus {
    outline: 0;
  }
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
  }
  
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  [hidden] {
    display: none;
  }
  
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  a:active,
  a:hover,
  a:focus {
    outline: 0;
  }
  
  figure,
  form {
    margin: 0;
  }
  
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
  }
  
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
  }
  
  button,
  input {
    line-height: normal;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px;
  }
  
  input[type="checkbox"],
  input[type="radio"],
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
  }
  
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  html,
  button,
  input,
  select,
  textarea {
    color: #222;
  }
  
  ::-moz-selection {
    background: $primaryColor;
    text-shadow: none;
    color: $white;
  }
  
  ::selection {
    background: $primaryColor;
    text-shadow: none;
    color: $white;
  }
  
  img, picture {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  select {
    color: #000;
    outline: none;
  }
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  strong {
    font-weight: 700;
  }
  
  .container {
    max-width: 124rem;
    margin: 0 auto;
    padding: 0 5rem;
    width: 100%;
    @include bp(xl-max) {
      padding: 0 2.5rem;
    }
  }
  
  body {
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Hind Madurai", sans-serif;
    line-height: 1.8;
    font-size: 1.6rem;
    color: $secondaryColor;
    &.open-menu,  &.open-category {
      overflow: hidden;
    }
  }
  
  a {
    text-decoration: none !important;
    transition: all 0.5s;
    color: $secondaryColor;
  }
  h1, h2, h3, h4, h5{
    font-family: "Montserrat", sans-serif;
  }
  h1,.h1 {
    font-size: 4rem;
    line-height: 1.4;
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
  }
  
  h2 {
    font-size: 4.4rem;
    line-height: 1.2;
    color: $primaryColor;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @include bp("xl-max") {
      font-size: 4rem;
    }
    @include bp("smd-max") {
      font-size: 3.6rem;
    }
    @include bp("sm-max") {
      font-size: 3.2rem;
    }
  }
  .border-btn, .white-border-btn{
    line-height: 5.2rem;
    height: 5.2rem;
    border: 0.1rem solid $primaryColor;
    text-transform: uppercase;
    color:$primaryColor;
    font-weight: 700;
    border-radius: 5rem;
    display: inline-block;
    padding: 0 3.6rem;
    transition: all 0.5s;
    &:hover{
      background-color: $primaryColor;
      color: $white
    }
    @include bp("sm-max") {
      height: 4.6rem;
      line-height: 4.6rem;
  }
  }
  .white-border-btn{
    border-color: $white;
    color: $white;
    &:hover{
      background-color: $white;
      color: $primaryColor
    }
  }
  .white-btn{
    line-height: 5.2rem;
    height: 5.2rem;
    text-transform: uppercase;
    color:$primaryColor;
    font-weight: 700;
    border-radius: 5rem;
    display: inline-block;
    padding: 0 3.6rem;
    transition: all 0.5s;
    background-color: $white;
    &:hover{
      background-color: $primaryColor;
      color: $white
    }
    @include bp("sm-max") {
      height: 4.6rem;
      line-height: 4.6rem;
  }
  }
  .site-btn {
    font-family: "Hind Madurai", sans-serif;
    height: 6rem;
    line-height: 6rem;
    padding: 0 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $white;
    background-color: $primaryColor;
    transition: all 0.5s;
    border-radius: 4rem;
    border: none;
    display: inline-block;
    @include bp("sm-max") {
        height: 4.6rem;
        line-height: 4.6rem;
    }
    &:hover {
        color: $white;
        background-color: $darkblue;
    }
}
  .dot-list{
    li{
      position: relative;
      padding-left: 2rem;
      a{
        &:hover{
          text-decoration: underline !important;
        }
      }
      &:before{
        position: absolute;
        top: 1.2rem;
        left: 0rem;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        content: "";
        background-color: $primaryColor;
      }
      + li{
        margin-top: .2rem;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next{
    background-color: $white;
    height: 4.5rem !important;
    width: 4.5rem  !important;
    border-radius: 50% !important;
    border: 0.1rem solid $border !important;
    position: absolute !important;
    right: 0 !important;
    top: calc(100% - 3rem) !important;
    transform: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:after{
      font-size: 2rem !important;
      content: '' !important;
      background-image: url(../public/images/slider-arrow.svg);
      height: 1.9rem;
      width: 1.1rem;
    }
    &.swiper-button-disabled{
      cursor: not-allowed !important;
      opacity: 0.5 !important;
    }
  }
  .swiper-button-prev{
    right: 27.1rem !important;
    left: auto !important;
    &:after{
      transform: rotate(180deg);
    }
  }
  .swiper-button-next{
    right: 20.7rem !important;
    left: auto !important;
  }