.product-detail-slider-section {
    padding: 5rem 0 10rem;

    @include bp("xl-max") {
        padding: 5rem 0 8rem;
    }

    @include bp("sm-max") {
        padding: 5rem 0 6rem;
    }

    .slider-text-wrapper {
        display: flex;
        flex-wrap: wrap;

        .thumbmail-slider {
            max-width: 47.5%;
            flex: 0 0 47.5%;

            @include bp("smd-max") {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }

        .text-wrapper {
            max-width: 52.5%;
            flex: 0 0 52.5%;
            padding-left: 5.8rem;

            @include bp("smd-max") {
                margin-top: 3rem;
                max-width: 100%;
                flex: 0 0 100%;
                padding-left: 0;
            }

            h1 {
                font-size: 3.8rem;
                line-height: 1.2;
                font-weight: 600;
                margin-bottom: 1rem;
                color: $secondaryColor;
                font-family: "Hind Madurai", sans-serif;
                text-transform: none;

                @include bp("xl-max") {
                    font-size: 3.4rem;
                }

                @include bp("sm-max") {
                    font-size: 3rem;
                }
            }

            p {
                margin-bottom: 1rem;
                font-size: 2rem;

                @include bp("xl-max") {
                    font-size: 1.8rem;
                }

                @include bp("sm-max") {
                    font-size: 1.6rem;
                }
            }

            .dot-list {
                margin-bottom: 4rem;

                @include bp("sm-max") {
                    margin-bottom: 2rem;
                }
            }

            .site-btn {
                text-align: center;
                text-transform: uppercase;
                &.border-btn {
                    background: transparent;
                    border: 0.1rem solid $primaryColor;
                    color: $primaryColor;
                    margin-right: 1.5rem;
                }
                @include bp("sm-max") {
                    height: 5rem;
                    line-height: 5rem;
                    padding: 0 2.5rem;
                }
                @include bp("xxxxs-max") {
                    padding: 0 2rem;
                    font-size: 1.4rem;
                }
            }
        }

        .thumbmail-slider {

            .main-slider {
                padding: 0 2rem;
                margin: 0 -2.1rem 0 -2rem;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $white;
                    height: 100%;
                    width: 2rem;
                    display: block;
                    content: "";
                    z-index: 2;
                }

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $white;
                    height: 100%;
                    width: 2rem;
                    display: block;
                    content: "";
                    z-index: 2;
                }

                .swiper-slide {
                    max-width: 100%;
                    border: 0.1rem solid $border4;
                    border-radius: 2rem;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 91.2%;
                    position: relative;

                    .bg-img {
                        object-fit: contain;
                        max-height: 100%;
                    }
                }
            }

            .thumb-slider {
                margin-top: 3rem;
                margin-right: -1px;
                .swiper-slide {
                    display: flex;
                    border: 0.1rem solid $border4;
                    align-items: center;
                    height: 12rem;
                    transition: all 0.5s;
                    cursor: pointer;
                    img {
                        max-height: 100%;
                        object-fit: contain;
                    }
                        &:last-child{
                            margin-left: -0.1rem;
                        }
                    &.swiper-slide-thumb-active {
                        border-color: $primaryColor;
                    }
                }
            }
        }

        .swiper-button-prev {
            left: 0 !important;
        }

        .swiper-button-next {
            right: 0 !important;

        }

        .swiper-button-prev,
        .swiper-button-next {
            top: calc(50% + 2.1rem) !important;
            transform: translateY(-50%) !important;
            background-color: $white;
            height: 4rem !important;
            width: 4rem !important;
            z-index: 3;

            &:after {
                background-size: 1.1rem 1.7rem;
                height: 1.7rem;
                width: 1.1rem;
            }

            &:hover {
                &:not(.swiper-button-disabled) {
                    background-color: $primaryColor;

                    &:after {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}
.product-info-blocks {
    .product-block-navigation {
        ul {
            display: flex;
            border-bottom: 1px solid $border2;
            overflow-x: auto;
            li {
                & + li {
                    margin-left: 4rem;
                }
                button {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: normal;
                    padding-bottom: 2.5rem;
                    display: inline-block;
                    position: relative;
                    border: none;
                    background: transparent;
                    color: inherit;
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border-bottom: 5px solid $primaryColor;
                        content: "";
                        display: block;
                        width: 100%;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover::after {
                        opacity: 1;
                        visibility: visible;
                    }
                    @include bp("sm-max") {
                        font-size: 1.8rem;
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }
    .product-info-block-inner {
        background-image: url(../public/images/product-block-bg.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5rem 0;
        .product-info-block {
            background: #fff;
            border: 1px solid $border2;
            border-radius: 2rem;
            & + .product-info-block {
                margin-top: 5rem;
            }
            .block-title {
                padding: 2.2rem 4rem;
                font-size: 2.4rem;
                font-weight: 600;
                font-family: "Montserrat", serif;
                @include bp("smd-max") {
                    padding: 2rem 2.5rem 1.5rem;
                }
            }
            .specification-list {
                li {
                    padding: 0 4rem;
                    line-height: 1;
                    border-top: 1px solid $border2;
                    display: flex;
                    @include bp("sm-max") {
                        padding: 0 2.5rem;
                    }
                    .spec-name {
                        flex: 0 0 35%;
                        max-width: 35%;
                        padding: 2rem 0;
                        border-right: 1px solid $border2;
                    }
                    .spec-value {
                        flex: 0 0 65%;
                        max-width: 65%;
                        padding: 2rem 0 2rem 4rem;
                        font-weight: 600;
                        @include bp("sm-max") {
                            padding-left: 2.5rem;
                        }
                    }
                }
            }
            .download-grid {
                display: flex;
                padding: 0 4rem 4rem;
                @include bp("smd-max") {
                    padding: 0 2.5rem 2.5rem;
                }
                @include bp("sm-max") {
                    flex-wrap: wrap;
                }
                .download-left {
                    flex: 1;
                    padding-right: 3rem;
                    img {
                        border-radius: 1rem;
                    }
                    @include bp("sm-max") {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                .download-right {
                    flex: 0 0 33.9rem;
                    max-width: 33.9rem;
                    @include bp("smd-max") {
                        flex: 0 0 27rem;
                        max-width: 27rem;
                    }
                    @include bp("sm-max") {
                        margin-top: 3rem;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .doc-btn-wrapper {
                        @include bp("sm-max") {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            gap: 1.5rem;
                        }
                        .doc-btn {
                            display: flex;
                            padding: 2.4rem 3rem;
                            background: $primaryColor;
                            border-radius: 2rem;
                            align-items: center;
                            &:hover {
                                background: $darkblue;
                            }
                            & + .doc-btn {
                                margin-top: 2rem;
                                @include bp("sm-max") {
                                    margin-top: 0;
                                }
                            }
                            @include bp("sm-max") {
                                min-width: 23rem;
                            }
                            .doc-text {
                                font-size: 2.4rem;
                                font-weight: 600;
                                color: $white;
                                padding-left: 1.5rem;
                            }
                            @include bp("smd-max") {
                                border-radius: 1rem;
                                padding: 1rem 1.8rem;
                                .doc-text {
                                    font-size: 2rem;
                                    line-height: 1.2;
                                    padding-left: 1rem;
                                }
                                .doc-icon {
                                    img {
                                        height: 3.5rem;
                                        width: 3.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.applications-block {
                ul {
                    padding: 0 4rem 4rem;
                    @include bp("smd-max") {
                        padding: 0 2.5rem 2.5rem;
                    }
                    li {
                        position: relative;
                        padding-left: 4rem;
                        font-size: 1.8rem;
                        & + li {
                            margin-top: 1.5rem;
                            @include bp("sm-max") {
                                margin-top: 1rem;
                            }
                        }
                        @include bp("sm-max") {
                            font-size: 1.6rem;
                            line-height: 1.5;
                            padding-left: 3rem;
                        }
                        &:before {
                            position: absolute;
                            left: 0;
                            top: 0.4rem;
                            background-image: url(../public/images/check-circle.svg);
                            height: 2.5rem;
                            width: 2.5rem;
                            content: "";
                            background-repeat: no-repeat;
                            @include bp("sm-max") {
                                height: 2rem;
                                width: 2rem;
                                background-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* ---------- Fix: ensure thumbnail left border shows on 320px - 1024px ---------- */
@media screen and (max-width: 1024px) {
  .product-detail-slider-section {

    /* Prevent the main-slider side bars from overlapping thumbnails */
    .thumbmail-slider {
      .main-slider {
        &:before,
        &:after {
          display: none !important;
          content: none !important;
        }
      }

      /* allow thumbnails to be visible (not clipped) and give a small left inset */
      .thumb-slider {
        overflow: visible !important; /* don't clip borders */
        padding-left: 0.6rem !important; /* ensure leftmost border is visible */
        margin-right: 0 !important;

        .swiper-slide {
          box-sizing: border-box !important; /* include border in width calc */
          border: 0.1rem solid $border4 !important; /* enforce full 4-side border */
          border-left: 0.1rem solid $border4 !important; /* explicit left border */
          background-clip: padding-box !important;
          margin-left: 0 !important;
          transform: none !important;
          /* keep a tiny left gap so border isn't visually cut by parent edges */
        }

        /* make first thumb slightly inset so its left border is clearly visible */
        .swiper-slide:first-child {
          margin-left: 0.5rem !important;
        }
      } /* .thumb-slider */
    } /* .thumbmail-slider */

    /* Also ensure wrapper doesn't hide child overflow */
    .slider-text-wrapper, .thumbmail-slider {
      overflow: visible !important;
    }
  } /* .product-detail-slider-section */
}

/* extra small phones: keep thumbnail size but keep left border visible */
@media screen and (max-width: 420px) {
  .product-detail-slider-section {
    .thumbmail-slider {
      .thumb-slider {
        padding-left: 0.4rem !important;
        .swiper-slide:first-child {
          margin-left: 0.35rem !important;
        }
      }
    }
  }
}

/* ---------- Fix for mid / large tablets and small desktops: 1024px - 1440px ---------- */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .product-detail-slider-section {
    /* Prevent side overlays from overlapping thumbnails */
    .thumbmail-slider {
      .main-slider {
        &:before,
        &:after {
          /* keep them if you want visual side overlays on very wide screens,
             but hide here to avoid overlap with thumbnails */
          display: none !important;
          content: none !important;
        }
      }

      /* Ensure thumbnail area is visible and not clipped */
      .thumb-slider {
        overflow: visible !important;
        padding-left: 0.6rem !important; /* ensure leftmost border is visible */
        margin-right: 0 !important;

        .swiper-slide {
          box-sizing: border-box !important;
          border: 0.12rem solid $border4 !important;
          background-clip: padding-box !important;
          margin-left: 0 !important;
          transform: none !important;
          /* slightly smaller than desktop default so it fits well in this range */
          width: 86px !important;
          height: 86px !important;
          min-width: 80px !important;
          min-height: 80px !important;
          padding: 0.45rem !important;
          img { width: 100% !important; height: 100% !important; object-fit: contain !important; }
        }

        .swiper-slide:first-child {
          margin-left: 0.55rem !important; /* nudge first thumb so left border is visible */
        }

        /* highlight active thumb nicely */
        .swiper-slide.swiper-slide-thumb-active {
          border-color: $primaryColor !important;
          transform: translateY(-5px) !important;
          box-shadow: 0 8px 20px rgba(0,0,0,0.06) !important;
        }
      } /* .thumb-slider */
    } /* .thumbmail-slider */

    /* Ensure wrappers don't clip the thumb area */
    .slider-text-wrapper, .thumbmail-slider {
      overflow: visible !important;
    }

    /* Slightly scale down nav arrows so nothing overlaps */
    .swiper-button-prev,
    .swiper-button-next {
      height: 3.8rem !important;
      width: 3.8rem !important;
      top: calc(50% + 1.4rem) !important;
      z-index: 6 !important;
    }
  } /* .product-detail-slider-section */
}

/* -------- Remove main slider navigation arrows (keep everything else unchanged) -------- */
.product-detail-slider-section {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

/* ---------- Thumbnail box: make border blue and slightly larger ---------- */
.product-detail-slider-section {
  .thumbmail-slider {
    .thumb-slider {
      .swiper-slide {
        border: 0.12rem solid #006098 !important; /* blue border */
        width: 120px !important; /* slightly bigger box */
        height: 120px !important;
        transition: all 0.3s ease;

        img {
          width: 100% !important;
          height: 100% !important;
          object-fit: contain !important;
        }
      }

      /* keep active thumbnail consistent */
      .swiper-slide.swiper-slide-thumb-active {
        border-color: #006098 !important; /* same blue border for active state */
        transform: scale(1.05) !important; /* slightly lifted effect */
        box-shadow: 0 4px 10px rgba(0, 96, 152, 0.15) !important;
      }
    }
  }
}
