@import "./theme-colors";
@import "./mixins.scss";
@import "./breakpoints.scss";
@import "./helper.scss";
@import "./common.scss";
@import "./home.scss";
@import "./inner-banner.scss";
@import "./_whoweare.scss";
@import "./_why-triquench.scss";
@import "./_our-team.scss";
@import "./_our-vision.scss";
@import "./_service-we-provide.scss";
@import "./_product-detail.scss";
@import "./_contact.scss";
@import "./product-listing.scss";
@import "_request-quote.scss";
@import "./home-form.scss"