$primaryColor: #006098;
$secondaryColor: #41667B;
$white: #fff;
$border: #E1E1E1;
$green: #C4F053;
$footergray: rgba(33, 33, 33, 0.2);
$white2: #FAFAFA;
$blue: #3F6175;
$blue2: rgba(0, 96, 152, 84%);
$border2: #EFEFEF;
$border3: #DDE2EA;
$lightblue: #F1FAFE;
$lightblue2: #E5F7FF;
$lightblue3: #E6F2F8;
$blueBorder: #D8E6EE;
$placeholder: #AAAAAA;
$boxShadow: rgba(0, 0, 0, 0.04);
$blueborder2: rgba(0, 96, 152, 20%);
$darkblue: #004C79;
$border4: #E6E6E6;
$gray1: #F9F9F9;
$gray2: #f1f1f1;
$gray3: #FEFEFE;
$blue3: rgba(17, 141, 202, 0.5);
